@import 'compass';
@import 'lumxcolors';
@import 'scrollbar';

@import url(http://fonts.googleapis.com/css?family=Lobster);
$lobster: 'Lobster', cursive;

// Colours
$header-bg: $teal-500;
$nav-col: $grey-400;

// Dimensions
$headerHeight: 60px;

// Mixins
@function compact($var-1, $var-2: false,
$var-3: false, $var-4: false,
$var-5: false, $var-6: false,
$var-7: false, $var-8: false,
$var-9: false, $var-10: false) {
    $full: $var-1;
    $vars: $var-2, $var-3, $var-4, $var-5,
    $var-6, $var-7, $var-8, $var-9, $var-10;

    @each $var in $vars {
        @if $var {
            $full: $full, $var;
        }
    }
    @return $full;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.inherit-y {
  height: 100%;
}

.clear {
  clear: both;
}

body {
  background-color: $grey-200;
}

.center {
  text-align: center;
}

.wrap {

  .row {
    margin: 0;
  }
}

#splash {
  height: 100%;
  width: 100%;
}

#t1 {
  background-color: $blue-300;
  height: 100%;
}

#t2 {
  background-color: darken($blue-300, 30%);
}

#t3 {
  background-color: $purple-200;
}

#phone-wrap {
  padding: 5%;
  height: 100%;
}

#phone {
  position: relative;
  height: 100%;
  width: 100%;
  //margin: 10%;
  border: 5px solid $grey-900;
  border-top: 50px solid $grey-900;
  border-bottom: 35px solid $grey-900;
  background-color: $grey-300;
  @include border-radius(10px);

  #messages-wrapper {
    height: calc(100% - 30px);
    overflow-y: scroll;
  }

  #messages {
    padding-top: 10px;
    list-style: none;

    .msg {
      width: 80%;
      padding: 10px;
      margin-bottom: 10px;
      position: relative;

      .triangle {
        //content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        border-style: solid;
        background-color: black;

        text-indent: -9999px;
      }

      p {
        width: 0;
        height: 0;
        position: absolute;
        text-indent: -9999px;
        }
      }

    .from {
      float: left;
      @include border-radius(0 5px 5px 5px);
      margin-left: 10px;
      background-color: $blue-300;

      p {
        border-top: 10px solid $blue-300;
        border-left: 10px solid transparent;
        top: 0px;
        left: -10px;
      }
    }

    .to {
      float: right;
      margin-right: 10px;
      @include border-radius(5px 0px 5px 5px);
      text-align: right;
      background-color: $green-200;

      p {
        border-top: 10px solid $green-200;
        border-right: 10px solid transparent;
        top: 0px;
        right: -10px;
      }
    }
  }

  #typespace {
    position: absolute;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background-color: $indigo-400;
    //border-top: 2px solid $indigo-400;

    input, div {
      height: 100%;
      float: left;
    }

    input {
      width: 90%;
    }

    #submit {
      width: 10%;
      text-align: center;
      line-height: 30px;
      @include transition(all 500ms ease);

      &:hover {
        cursor: pointer;
        background-color: darken($indigo-400, 20%);
      }
    }
  }

  #camera {
    position: absolute;
    top: -40px;
    left: 10px;
    width: 20px;
    height: 20px;
    @include border-radius(10px);
    background-color: $grey-400;
  }

  #speaker {
    position: absolute;
    left: 25%;
    top: -30px;
    width: 50%;
    height: 15px;
    @include border-radius(10px);
    background-color: $grey-400;
  }

  .phone-button {
    color: $grey-400;
    position: absolute;
    bottom: -40px;
    font-size: 30px;

    i {
      @include transition(all 500ms ease);
    }

    i:hover {
      color: $grey-200;
    }
  }

  #button-menu {
    left: 15px;
  }

  #button-home {
    left: 50%;
    transform: translateX(-50%);
  }

  #button-back {
    right: 15px;
  }
}

h1#title {
  padding-top: 20px;
  display: inline-block;
  font-family: $lobster;
  font-size: 4em;
  //border-bottom: 2px solid black;
  //transform: rotate(-20deg);
}

#main-icons {
  div {
    text-align: center;
    //border-radius: 50%;
    //border: 2px solid black;


    i {
      display: block;
      font-size: 3em;
    }
  }
}

#submit-feed {
  input {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  i {
    margin-top: 10px;
    font-size: 50px;
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 50%;
    color: black;
    border: 2px solid black;
    @include transition(all 500ms ease);

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

#continue {
  display: block;
  text-decoration: none;
}

#header {
    height: $headerHeight;
    background-color: $header-bg;
    @include box-shadow(0px 1px 2px rgba(0,0,0,0.3));

    #navbar {
        float: right;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0;
                padding: 0;
                float: left;

                a {
                    display: block;
                    height: $headerHeight;
                    line-height: $headerHeight;
                    padding-left: 10px;
                    padding-right: 10px;
                    color: $nav-col;
                    @include transition(all 500ms ease);

                    &:hover {
                        background-color: $blue-grey-800;
                    }
                }
            }
        }
    }
}
