<div ng-controller="HomeCtrl" class="inherit-y">
    <!-- SMSer -->
    <div class="wrap inherit-y">
      <div class="row" id="splash">
          <div id="t1" class="col-lg-4 col-md-4 col-sm-12 col-xs-">
            <div id="phone-wrap">
              <div id="phone">
                  <div id="camera"></div>
                  <div id="speaker"></div>
                  <div id="button-menu" class="phone-button"> <i class="fa fa-bars"></i> </div>
                  <div id="button-home" class="phone-button"> <i class="fa fa-home"></i> </div>
                  <div id="button-back" class="phone-button"> <i class="fa fa-long-arrow-left"></i> </div>

                  <div id="messages-wrapper">
                    <ul id="messages">
                      <li ng-repeat="msg in msgs" class="{{msg.type}} msg">
                        {{msg.content}}
                        <img src={{msg.image}}>
                        <!--<div class="triangle"></div>-->
                        <p></p>
                      </li>
                    </ul>
                  </div>

                  <div id="typespace">
                      <input ng-model="typespace" type="text"></text>
                      <div id="submit" ng-click="addMsg()">
                          <i class="fa fa-hand-o-right"></i>
                      </div>
                      <div class="clear"></div>
                  </div>
              </div>
            </div>
          </div>
          <div id="t2" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="center">
                <h1 id="title">smster!</h1>
              </div>

              <div class="row" id="main-icons">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <i class="fa fa-mobile"></i>
                  Access website screenshots and RSS feeds from your mobile device with no data
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <i class="fa fa-send"></i>
                    Distribute your RSS feed to the local community
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <i class="fa fa-exchange"></i>
                    Exchange and grow freely available content!
                </div>
              </div>

              <div class="center" id="submit-feed">
                <input placeholder="Submit your own RSS feed for Toronto! ($1)"></input>
                <a href=# ng-click="purchase()">
                    <i class="fa fa-paypal"></i>
                </a>
                <a id="continue" href="{{paypal_redirect}}" ng-show="redirect_ready">continue to PayPal</a>
              </div>
          </div>
      </div>
    </div>
</div>
